$primary-color: #131111;
$second-color: #8226A1;
$third-color: #016FB9;
$fourth-color: #22AED1;
$fifth-color: #2B2727;
$sixth-color: #02A9EA;
$seventh-color: #eee;
$eight-color: #ff0000;
$nine-color: #b025df;
$ten-color: #494848;